body{
    background:#1E555C;
    color:white;
    font-size:30px;
    text-align:center;
    font-family:'Open Sans',  sans-serif;
    font-weight:normal;
    line-height:1.428571429;

}
#container{
    display:flex;
    height:80vh;
    justify-content:center;
    align-items:center;

}
.main-title{
    font-size:50px;
    margin: 0 0 50px 0;
}
.length-control{
    width:250px;
}
button{
    display:inline-block;
    margin-bottom:0;
    padding: 0.6em 1em;
    background:none;
    outline:none;
    border:none;
    color:white;
    cursor:pointer;
}