body{
    background:#1E555C;
    color:white;
    font-size:30px;
    text-align:center;
    font-family:'Open Sans',  sans-serif;
    font-weight:normal;
    line-height:1.428571429;

}
#container{
    display:flex;
    height:80vh;
    justify-content:center;
    align-items:center;

}